<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="C:\Users\82105\Desktop\React\Projects\insta-clone\src\components\image.png" style="border-radius: 50% !important; box-shadow: 0 5px 15px -8px rgb(0 0 0 / 24%), 0 8px 10px -5px rgb(0 0 0 / 20%), width:50px, hight:50px"/>
    <img src="C:\Users\82105\Desktop\React\Projects\insta-clone\src\components\KakaoTalk_20210326_153815688.jpg" style="border-radius: 50% !important; box-shadow: 0 5px 15px -8px rgb(0 0 0 / 24%), 0 8px 10px -5px rgb(0 0 0 / 20%), width=50px, hight=50px;"/>
</body>
</html>